body{
    background-image: url(sss.jpg) ;
    background-size: cover;
  
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
}
  
    .container{
        max-width: 1200px;
        margin:0 auto;
        background-color: rgb(255, 233, 159);
height: 100vh;
    padding: 15px;

    border: 3px solid rgb(240, 187, 128);
    font-size: 1.5em;
   line-height: 2;
    }
    header{
        font-size: 2em;
        text-align: center;
        color:blue;
        position: relative;
    }
 aside{
    border-top: 5px solid rgb(224, 160, 42);
    border-bottom: 5px solid rgb(224, 160, 42);
     display:grid;
    grid-template-areas: "a1 a1"
    "a2 a2";
    grid-gap: 0px;
 }
 aside p.a1{
     grid-area: a1;
     color:blue;
     font-size: 1.5rem;
     text-align: center;
     padding: 0px;
     margin: 0px;
 }
 aside ol.a2{
    grid-area:a2;
    margin: 0 auto;
}

main{
    line-height: 3;
}
button.toggle-menu{
    position: absolute;
	
	right: 0em;
	border:0;
	background-color: transparent;
	font-size: 1.5em;
	width: 1em;
	height: 1em;
	line-height: 0.4em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 5em;
}
button::after{
	position: absolute;
	top: 0.4em;
	left: 0.1em;
	display: block;
	content: "\2261";
    text-indent:0;
}
button.toggle-menu, 
button.toggle-menu:active, 
button.toggle-menu:focus {
    outline: none;
}

header .main-menu{
    font-size:1.2rem;
color: black;
}
.main-menu>ul{
    padding:0px;
    list-style: none;
    position: absolute;
    right: 0;
    background-color:rgb(255, 233, 159) ;
}
.main-menu>ul li a {
    text-decoration: none;
    color: black;

}
.main-menu{
	display: none;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0;
}
.menu.is-open .main-menu{
    display: block;}
    

.x{
    text-decoration: underline;
}