body{
    background-color: rgb(216, 147, 98);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: flex-start;
}
div nav.fir_menu{
    
font-size: 2.9rem;


    background-color: rgb(255, 233, 159);
    width: 300px;
    padding: 15px;
    height:100vh;
    border: 3px solid rgb(240, 187, 128);
    
}
ul.zz{
    margin:0px 20px;
    list-style: none;
    padding: 0px;



}


div.img{
   float:right;
margin-left:50px;
   background-color: red;
   width: 800px;
   height:800px;
   background: url(IMG_2110.jpeg) no-repeat;
   background-size: cover;
   border: 3px solid rgb(240, 187, 128);
  
  
   align-items: top;
}
p.img{
  vertical-align: top;
  font-size: 1.8rem;
  background:ghostwhite;
  width: 200px;
}
.zz>li{text-align: left;
    position: relative;
margin-bottom: 40px;}
li>a{
    text-decoration: none;
    color:rgb(36, 36, 167);

}
li>a:hover{
    color:rgb(60, 148, 231);
}
p.razdel   {
    border-bottom: 1px solid red;
   font-size: 4rem;
   margin:0px 0px 20px 0px;
   font-weight: bold;
    color: rgb(76, 95, 150);
text-align: center;
}
.zav:active .zavtrak{
    display: block;
}


  
    